@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  line-height: inherit;
  overflow-x: hidden;
  display: absolute;
  height: 100%;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}
